/* Flexbox */
.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.flexrow > * {
  flex: 1;
}
.flexcol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.flexcol > * {
  flex: 1;
}
/* ----------------------------------------- */
/*  Actor Sheet
/* ----------------------------------------- */
.wfrp4e.actor-sheet {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 14px;
  /* Primary Attributes Section */
}
.wfrp4e.actor-sheet > * {
  flex: 1;
}
.wfrp4e.actor-sheet input[type="text"] {
  background: none;
  border: none;
  padding: 0;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border: 1px solid transparent;
}
.wfrp4e.actor-sheet input[type="text"]:hover,
.wfrp4e.actor-sheet input[type="text"]:focus {
  border: 1px solid #111;
  box-shadow: 0 0 8px red;
}
.wfrp4e.actor-sheet input:disabled,
.wfrp4e.actor-sheet select:disabled,
.wfrp4e.actor-sheet textarea:disabled {
  color: #111;
}
.wfrp4e.actor-sheet input:disabled:hover,
.wfrp4e.actor-sheet select:disabled:hover,
.wfrp4e.actor-sheet textarea:disabled:hover,
.wfrp4e.actor-sheet input:disabled:focus,
.wfrp4e.actor-sheet select:disabled:focus,
.wfrp4e.actor-sheet textarea:disabled:focus {
  border: 1px solid transparent;
  box-shadow: none;
}
.wfrp4e.actor-sheet span,
.wfrp4e.actor-sheet label {
  display: block;
}
.wfrp4e.actor-sheet .mce-panel span {
  display: inherit;
}
.wfrp4e.actor-sheet.editable .rollable:hover {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}
.wfrp4e.actor-sheet .sheet-sidebar {
  flex: 0 0 250px;
  order: 1;
}
.wfrp4e.actor-sheet .sheet-sidebar img.sheet-profile {
  width: 250px;
  height: 250px;
  border: 1px solid #666;
}
.wfrp4e.actor-sheet .sheet-body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: 10px;
  flex: 1;
  order: 2;
  overflow: hidden;
}
.wfrp4e.actor-sheet .sheet-body > * {
  flex: 1;
}
.wfrp4e.actor-sheet .sheet-body .sheet-tabs {
  flex: 0 0 32px;
  margin-top: 5px;
}
.wfrp4e.actor-sheet .sheet-body .tab {
  flex: 1 0 450px;
  margin: 5px 0;
  overflow: hidden;
}
.wfrp4e.actor-sheet .sheet-header {
  flex: 0 0 90px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.wfrp4e.actor-sheet .sheet-header > * {
  flex: 1;
}
.wfrp4e.actor-sheet .sheet-header .charname {
  margin: 0 10px 0 0;
  height: 50px;
  border: none;
}
.wfrp4e.actor-sheet .sheet-header .charname > input {
  float: left;
  height: 40px;
  width: 100%;
  margin: 5px 0;
  font-size: 36px;
}
.wfrp4e.actor-sheet .sheet-header .charlevel {
  flex: 0 0 150px;
  height: 50px;
  text-align: right;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.wfrp4e.actor-sheet .sheet-header .charlevel > * {
  flex: 1;
}
.wfrp4e.actor-sheet .sheet-header .charlevel .level {
  flex: 0 0 22px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 22px;
  line-height: 22px;
}
.wfrp4e.actor-sheet .sheet-header .charlevel .level > * {
  flex: 1;
}
.wfrp4e.actor-sheet .sheet-header .charlevel .level > input[type="text"] {
  flex: 0 0 30px;
  height: 22px;
  text-align: center;
}
.wfrp4e.actor-sheet .sheet-header .charlevel .xpbar {
  width: 100%;
  flex: 0 0 8px;
  background: #666;
  border: 1px solid #000;
  border-radius: 3px;
}
.wfrp4e.actor-sheet .sheet-header .charlevel .xpbar .bar {
  height: 4px;
  margin: 1px;
  display: block;
  background: #afebff;
  border: 1px solid #000;
  border-radius: 2px;
}
.wfrp4e.actor-sheet .sheet-header .charlevel .experience {
  flex: 0 0 20px;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: flex-end;
}
.wfrp4e.actor-sheet .sheet-header .charlevel .experience > * {
  flex: 1;
}
.wfrp4e.actor-sheet .sheet-header .charlevel .experience > input[type="text"] {
  flex: 1;
  text-align: right;
  height: 20px;
}
.wfrp4e.actor-sheet .sheet-header .details {
  flex: 0 0 100%;
  height: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}
.wfrp4e.actor-sheet .sheet-header .details .character-detail {
  width: 33.33%;
  height: 30px;
  line-height: 30px;
  margin: 4px -1px 4px 0;
  padding: 0 2px 0 4px;
  float: left;
  border-right: 1px solid #CCC;
}
.wfrp4e.actor-sheet .sheet-header .details .character-detail:last-child {
  border-right: none;
}
.wfrp4e.actor-sheet .sheet-header .details .character-detail > input {
  margin: 0 2px;
}
.wfrp4e.actor-sheet .primary-attributes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex: 0 0 80px;
  padding: 5px 0;
}
.wfrp4e.actor-sheet .primary-attributes > * {
  flex: 1;
}
.wfrp4e.actor-sheet .primary-attributes .attribute {
  flex: 0 0 calc(33.33% - 4px);
  height: 75px;
  margin-right: 6px;
  border: 1px solid #CCC;
  border-radius: 3px;
}
.wfrp4e.actor-sheet .primary-attributes .attribute:last-child {
  margin-right: 0;
}
.wfrp4e.actor-sheet .primary-attributes .attribute .attribute-name {
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  margin: 0 5px;
  border-bottom: 1px solid #CCC;
}
.wfrp4e.actor-sheet .primary-attributes .attribute .attribute-value {
  height: 36px;
  line-height: 36px;
  font-size: 24px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.wfrp4e.actor-sheet .primary-attributes .attribute .attribute-value > * {
  flex: 1;
}
.wfrp4e.actor-sheet .primary-attributes .attribute .attribute-footer {
  height: 16px;
  text-align: center;
}
.wfrp4e.actor-sheet .primary-attributes .attribute .attribute-footer .footer-label {
  width: 60%;
  height: 16px;
  line-height: 16px;
  float: left;
  margin: 0;
  padding-right: 5px;
  text-align: right;
}
.wfrp4e.actor-sheet .primary-attributes .attribute .attribute-footer .footer-value {
  width: 40%;
  float: right;
}
.wfrp4e.actor-sheet .primary-attributes .attribute .attribute-footer .footer-value > * {
  float: left;
  line-height: 16px;
  height: 16px;
}
.wfrp4e.actor-sheet .primary-attributes .attribute .attribute-footer .footer-value > input {
  max-width: 24px;
}
.wfrp4e.actor-sheet .primary-attributes .attribute .attribute-footer .footer-value input[name="data.attributes.speed.value"] {
  max-width: none;
  text-align: left;
}
/* ----------------------------------------- */
/* Biography Tab
/* ----------------------------------------- */
.wfrp4e.actor-sheet .biography .editor-content {
  height: 100%;
  padding-right: 8px;
  overflow-y: scroll;
}
.wfrp4e.actor-sheet .biography body#tinymce {
  font-size: 14px;
}
/* ----------------------------------------- */
/* Attributes Sidebar Tab
/* ----------------------------------------- */
.wfrp4e .sheet-tabs {
  height: 32px;
  border-bottom: 1px solid #666;
}
.wfrp4e .sheet-tabs > .item {
  line-height: 32px;
  padding: 0 10px;
  border-radius: 5px 5px 0 0;
}
.wfrp4e .sheet-tabs > .item.active {
  color: #000;
  font-weight: 700;
  border: 1px solid #666;
  border-bottom: none;
  box-shadow: 0 0 10px inset #ff6400;
  text-shadow: none;
}
.wfrp4e .attributes .attribute {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 41px;
  line-height: 41px;
  border-bottom: 1px solid #CCC;
}
.wfrp4e .attributes .attribute > * {
  flex: 1;
}
.wfrp4e .attributes .attribute .attribute-career {
  flex: 0 0 24px;
}
.wfrp4e .attributes .attribute .attribute-name {
  margin: 0;
  font-size: 16px;
}
.wfrp4e .attributes .attribute .attribute-total,
.wfrp4e .attributes .attribute .attribute-score {
  font-size: 20px;
  text-align: center;
  flex: 0 0 36px;
  border-left: 1px solid #CCC;
}
.wfrp4e .attributes .attribute .attribute-score > input {
  font-size: 20px;
  text-align: center;
}
.wfrp4e .attributes .attribute .attribute-advances,
.wfrp4e .attributes .attribute .attribute-talents,
.wfrp4e .attributes .attribute .attribute-modifier,
.wfrp4e .attributes .attribute .attribute-mod,

.wfrp4e .attributes .attribute .attribute-bonus {
  flex: 0 0 24px;
  margin: 8px 0;
  line-height: 24px;
  color: #666;
  text-align: center;
}
.wfrp4e .attributes .attribute .attribute-mod {
  border-right: 1px solid #CCC;
}
.wfrp4e .attributes .attribute .attribute-bonus {
  border-left: 1px solid #CCC;
}
.wfrp4e .attributes .attribute:last-child {
  border-bottom: 1px solid #666;
}
/* ----------------------------------------- */
/* Modify Attributes Window
/* ----------------------------------------- */
.wfrp4e .attributes li.heading {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 70px;
  line-height: 24px;
  border-bottom: 1px solid #666;
}
.wfrp4e .attributes li.heading > * {
  flex: 1;  
}
.wfrp4e .attributes li.heading .attribute-name {
  padding-top: 34px;
  margin: 0;
  font-size: 36px;
}
.wfrp4e .attributes li.heading .attribute-stat {
  flex: 0 0 24px;
  color: #666;
  transform: rotate(270deg);
  margin-right: -16px;
}
.wfrp4e .attributes li.heading .attribute-tal {
  flex: 0 0 24px;
  color: #666;
  transform: rotate(270deg);
  margin-right: -26px;
}
.wfrp4e .attributes li.heading .attribute-adv {
  flex: 0 0 24px;
  color: #666;
  transform: rotate(270deg);
  margin-right: -32px;
}
.wfrp4e .attributes li.heading .attribute-mod {
  flex: 0 0 24px;
  color: #666;
  transform: rotate(270deg);
  margin-right: -10px;
}
.wfrp4e .attributes li.heading .attribute-total {
  flex: 0 0 24px;
  color: #666;
  transform: rotate(270deg);
  margin-right: 0px;
}
.wfrp4e .attributes li.heading .attribute-bonus {
  flex: 0 0 24px;
  color: #666;
  transform: rotate(270deg);
  margin-right: -32px;
}
/* ----------------------------------------- */
/* Skills Tab
/* ----------------------------------------- */
.wfrp4e .skills ol.directory-list {
  height: 413px;
  border-bottom: 1px solid #666;
  overflow: hidden;
  overflow-y: scroll;
}
.wfrp4e .skills li.skill {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 24px;
  line-height: 24px;
  border-bottom: 1px solid #CCC;
}
.wfrp4e .skills li.skill > * {
  flex: 1;
}
.wfrp4e .skills li.skill .skill-name {
  margin: 0;
}
.wfrp4e .skills li.skill .skill-career {
  flex: 0 0 24px;
}
.wfrp4e .skills li.skill .skill-attribute {
  flex: 0 0 36px;
  color: #666;
  text-align: center;
  margin-right: 4px;
}
.wfrp4e .skills li.skill .skill-advances,
.wfrp4e .skills li.skill .skill-total {
  flex: 0 0 36px;
  color: #666;
  text-align: right;
  margin-right: 4px;
}
.wfrp4e .skills li.skill .skill-advances > input {
  text-align: center;
  margin-right: 4px;
}
.wfrp4e .skills li.trained {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 24px;
  line-height: 24px;
  border-bottom: 1px solid #CCC;
}
.wfrp4e .skills li.trained > * {
  flex: 1;
}
.wfrp4e .skills li.trained .skill-name,
.wfrp4e .skills li.trained .advskill-name {
  margin: 0;
}
.wfrp4e .skills li.trained .skill-career {
  flex: 0 0 24px;
}
.wfrp4e .skills li.trained .skill-attribute {
  flex: 0 0 36px;
  color: #666;
  text-align: center;
  margin-right: 4px;
}
.wfrp4e .skills li.trained .skill-advances,
.wfrp4e .skills li.trained .skill-modifier,
.wfrp4e .skills li.trained .skill-total,
.wfrp4e .skills li.trained .skill-select,
.wfrp4e .skills li.trained .skill-controls {
  flex: 0 0 24px;
  color: #666;
  text-align: center;
  margin-right: 4px;
  border-left: 1px solid #CCC;
}
.wfrp4e .skills li.untrained {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 24px;
  line-height: 24px;
  border-bottom: 1px solid #CCC;
}
.wfrp4e .skills li.untrained > * {
  flex: 1;
}
.wfrp4e .skills li.untrained .skill-name {
  margin: 0;
  color: rgb(153, 153, 153);
}
.wfrp4e .skills li.untrained .skill-career {
  flex: 0 0 24px;
}
.wfrp4e .skills li.untrained .skill-attribute {
  flex: 0 0 36px;
  color: rgb(153, 153, 153);
  text-align: center;
  margin-right: 4px;
}
.wfrp4e .skills li.untrained .skill-advances,
.wfrp4e .skills li.untrained .skill-modifier,
.wfrp4e .skills li.untrained .skill-select,
.wfrp4e .skills li.untrained .skill-controls,
.wfrp4e .skills li.untrained .skill-total {
  flex: 0 0 24px;
  color: rgb(153, 153, 153);
  text-align: center;
  border-left: 1px solid #CCC;
  margin-right: 4px;
}
.wfrp4e .skills li.untrained .skill-select {
  height: 23px;
  flex: 0 0 36px;
  color: rgb(153, 153, 153);
  text-align: right;
  margin-right: 4px;
}

.wfrp4e.locked .attribute-career,
.wfrp4e.locked .skill-career {
  text-shadow: none;
  cursor: default;
}
/* ----------------------------------------- */
/* Modify Basic Skills Heading
/* ----------------------------------------- */
.wfrp4e .skills li.heading,
.wfrp4e .advanced li.heading {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 70px;
  line-height: 24px;
  border-bottom: 1px solid #666;
}
.wfrp4e .skills ol.modifySkills-list,
.wfrp4e .advanced ol.modifySkills-list {
  border-bottom: 1px solid #666;
  padding-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.wfrp4e .skills li.heading > *,
.wfrp4e .advanced li.heading > * {
  flex: 1;
}
.wfrp4e .skills li.heading .skill-name,
.wfrp4e .advanced li.heading .skill-name {
  padding-top: 34px;
  margin: 0;
  font-size: 36px;
}
.wfrp4e .skills li.heading .skill-attribute,
.wfrp4e .advanced li.heading .skill-attribute {
  flex: 0 0 36px;
  color: #666;
  text-align: center;
  transform: rotate(270deg);
  margin-right: -24px;
}
.wfrp4e .skills li.heading .skill-advances,
.wfrp4e .advanced li.heading .skill-advances {
  flex: 0 0 36px;
  color: #666;
  text-align: right;
  transform: rotate(270deg);
  margin-right: -26px;
}
.wfrp4e .skills li.heading .skill-modifier,
.wfrp4e .advanced li.heading .skill-modifier {
  flex: 0 0 36px;
  color: #666;
  text-align: right;
  transform: rotate(270deg);
  margin-right: -12px;
}
.wfrp4e .skills li.heading .skill-total,
.wfrp4e .advanced li.heading .skill-total {
  flex: 0 0 36px;
  color: #666;
  text-align: right;
  transform: rotate(270deg);
  margin-right: -28px;
}
.wfrp4e .advanced li.heading .skill-advtotal {
  flex: 0 0 36px;
  color: #666;
  text-align: left;
  transform: rotate(270deg);
  margin-right: -6px;
}
.wfrp4e .advanced li.heading .skill-edit {
  flex: 0 0 36px;
  color: #666;
  text-align: left;
  transform: rotate(270deg);
  margin-right: -18px;
}
/* ----------------------------------------- */
/* Modify Basic Skills
/* ----------------------------------------- */
.modify-left {
  margin-right: 12px;
  padding-left: 2px;
  border-right: 1px solid #CCC;
  border-left: 1px solid #CCC;
  border-top: 1px solid #CCC;
}
.modify-right {
  border-right: 1px solid #CCC;
  border-left: 1px solid #CCC;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #666;
}
/* ----------------------------------------- */
/* Modify Advanced Skills
/* ----------------------------------------- */
.wfrp4e .advanced {
  padding-left: 4px;
}
.wfrp4e .advanced ol.advanced-list {
  border-bottom: 1px solid #666;
  padding-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.wfrp4e .advanced li.skill {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 24px;
  line-height: 24px;
  border-bottom: 1px solid #CCC;
}
.wfrp4e .advanced li.skill > * {
  flex: 1;
}
.wfrp4e .advanced li.skill .skill-name {
  margin: 0;
  color: rgb(153, 153, 153);
}
.wfrp4e .advanced li.skill .skill-career {
  flex: 0 0 24px;
}
.wfrp4e .advanced li.skill .skill-attribute {
  flex: 0 0 36px;
  color: rgb(153, 153, 153);
  text-align: center;
  margin-right: 4px;
}
.wfrp4e .advanced li.skill .skill-advances,
.wfrp4e .advanced li.skill .skill-modifier,
.wfrp4e .advanced li.skill .skill-select,
.wfrp4e .advanced li.skill .skill-controls,
.wfrp4e .advanced li.skill .skill-total {
  flex: 0 0 24px;
  color: rgb(153, 153, 153);
  text-align: center;
  margin-right: 4px;
  border-left: 1px solid #CCC;
}
.wfrp4e .advanced li.skill .skill-select {
  height: 23px;
  flex: 0 0 36px;
  color: rgb(153, 153, 153);
  text-align: right;
  margin-right: 4px;
}
.wfrp4e .advanced li.item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 24px;
  line-height: 24px;
  border-bottom: 1px solid #CCC;
}
.wfrp4e .advanced li.item > * {
  flex: 1;
}
.wfrp4e .advanced li.item .skill-name {
  margin: 0;
  color: rgb(153, 153, 153);
}
.wfrp4e .advanced li.item .skill-career {
  flex: 0 0 24px;
}
.wfrp4e .advanced li.item .skill-attribute {
  flex: 0 0 36px;
  color: rgb(153, 153, 153);
  text-align: center;
  margin-right: 4px;
}
.wfrp4e .advanced li.item .skill-advances,
.wfrp4e .advanced li.item .skill-modifier,
.wfrp4e .advanced li.item .skill-select,
.wfrp4e .advanced li.item .skill-controls,
.wfrp4e .advanced li.item .item-controls,
.wfrp4e .advanced li.item .skill-total {
  flex: 0 0 24px;
  color: rgb(153, 153, 153);
  text-align: center;
  margin-right: 4px;
  border-left: 1px solid #CCC;
}
.wfrp4e .advanced li.item .item-controls {
  flex: 0 0 36px;
  color: rgb(153, 153, 153);
  text-align: center;
  margin-right: 4px;
  border-left: 1px solid #CCC;
}
.wfrp4e .advanced li.item .skill-select {
  height: 23px;
  flex: 0 0 36px;
  color: rgb(153, 153, 153);
  text-align: right;
  margin-right: 4px;
}
/* ----------------------------------------- */
/* Talents Tab
/* ----------------------------------------- */
.talents .spellcasting-ability {
  margin: 0 0 4px;
  padding-bottom: 4px;
  border-bottom: 2px groove #FFF;
}
.talents .spellcasting-ability h3 {
  font-size: 14px;
  margin: 0;
}
.talents .spellcasting-ability select {
  height: 24px;
  background: rgba(255, 255, 255, 0.5);
}
.talents .spellbook-header .item-name h3 {
  padding: 0;
  color: rgb(17,17,17);
  font-weight: 700;
}
.talents .spellbook-header .talent-advances {
  color: inherit;
}
.talents .inventory-list {
  height: calc(100% - 28px);
}
.talents .item-name {
  flex: 2 !important;
}
.talents .talent-advances {
  flex: 1;
  font-size: 12px;
  color: #666;
  text-align: center;
  border-right: 1px solid #CCC;
  border-left: 1px solid #CCC;
}
.talents .spell-max {
  border-right: 1px solid #CCC;
}
/* ----------------------------------------- */
/* Modify Button
/* ----------------------------------------- */
.modify-header {
  position: relative;
  border-bottom: 1px solid #666;
  margin: 0 0 3px;
  padding-bottom: 5px;
}
.modify-header .modify-skills {
  text-align: center;
  font-weight: 700;
  margin: 0;
}
.modify-header .modify-skills:hover {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
} 
.modify-header .modify-attributes {
  text-align: center;
  font-weight: 700;
  margin: 0;
}
.modify-header .modify-attributes:hover {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
} 
/* ----------------------------------------- */
/* Inventory Tab
/* ----------------------------------------- */
.currency {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 3px 0;
  border-bottom: 1px solid #CCC;
}
.currency > * {
  flex: 1;
}
.currency h4.currency-name {
  flex: 0;
  margin: 0;
  font-weight: 700;
  padding: 0 5px 0 32px;
}
.currency ol.currency-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.currency ol.currency-list > * {
  flex: 1;
}
.currency ol.currency-list li.denomination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: flex-end;
}
.currency ol.currency-list li.denomination > * {
  flex: 1;
}
.currency ol.currency-list li.denomination label {
  text-transform: uppercase;
  flex: 0 0 30px;
  font-weight: 700;
}
.currency ol.currency-list li.denomination input {
  text-align: left;
  max-width: 48px;
}
/* Inventory List */
.inventory-list {
  list-style: none;
  margin: 0;
  padding: 0;
  height: calc(100% - 44px);
  overflow-y: scroll;
  /* Inventory Item */
  /* Inventory Header */
}
.inventory-list .item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  line-height: 24px;
  padding: 2px 0;
  border-bottom: 1px solid #CCC;
}
.inventory-list .item > * {
  flex: 1;
}
.inventory-list .item .item-name img {
  float: left;
}
.inventory-list .item .item-name h4 {
  margin-left: 32px;
}
.inventory-list .item h4 {
  margin: 0;
}
.inventory-list .item .item-quantity,
.inventory-list .item .item-weight {
  flex: 0 0 32px;
  font-size: 12px;
  color: #666;
  text-align: center;
  border-right: 1px solid #CCC;
}
.inventory-list .item .item-controls {
  flex: 0 0 44px;
}
.inventory-list .item .item-controls a {
  display: block;
  float: left;
  width: 22px;
  font-size: 10px;
  text-align: center;
  color: #666;
}
.inventory-list .inventory-header {
  font-weight: 700;
  border-bottom: 2px groove #FFF;
}
.inventory-list .inventory-header h3 {
  font-size: 1em;
  margin: 0;
  padding-left: 32px;
}
.inventory-list .inventory-header .item-quantity,
.inventory-list .inventory-header .item-weight {
  color: #111;
}
.inventory-list .inventory-header .item-controls a.item-create {
  width: 100%;
}
/* Encumbrance Bar */
.encumbrance {
  background: rgba(0, 0, 0, 0.1);
  height: 12px;
  margin-top: 5px;
  border: 1px solid #111;
  border-radius: 3px;
}
.encumbrance .encumbrance-bar {
  background: #782e22;
  height: 8px;
  margin: 1px;
  border: 1px solid #ff6400;
  border-radius: 3px;
}
.encumbrance .encumbrance-label {
  float: right;
  text-align: right;
  padding-right: 5px;
  font-size: 12px;
  line-height: 12px;
}
/* ----------------------------------------- */
/*  Spellbook Tab
/* ----------------------------------------- */
.spellbook .inventory-header .item-controls a.spell-create {
  width: 100%;
}
.spellbook .inventory-list {
  height: 100%;
}
.spellbook .spell-slots,
.spellbook .spell-max {
  flex: 0 0 32px;
  text-align: center;
}
.spellbook .spell-max {
  margin-right: 3px;
  border-right: 1px solid #CCC;
}
/* ----------------------------------------- */
/* Class List
/* ----------------------------------------- */
.class-header {
  position: relative;
  border-bottom: 1px solid #666;
  margin: 0 0 3px;
  padding-bottom: 5px;
}
.class-header h3 {
  text-align: center;
  font-weight: 700;
  margin: 0;
}
.class-header a.item-create {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 14px;
  color: #666;
}
.class-list {
  overflow: hidden;
}
.class-list .item {
  background: rgba(0, 0, 0, 0.03);
  padding: 3px 6px;
  border: 1px solid #CCC;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 5px;
}
.class-list .item > * {
  line-height: 20px;
}
.class-list .class-name,
.class-list .class-subclass {
  margin: 0;
  flex: 1 0 75%;
}
.class-list .class-name {
  font-size: 18px;
  font-weight: bold;
}
.class-list .class-subclass {
  font-size: 14px;
  color: #999;
}
.class-list .class-levels,
.class-list .item-controls {
  flex: 0 0 40px;
  text-align: right;
}
.class-list .item-controls {
  font-size: 12px;
}
.class-list .class-levels {
  padding-right: 5px;
  font-size: 20px;
  font-weight: bold;
}
/* ----------------------------------------- */
/*  NPC Sheet
/* ----------------------------------------- */
.wfrp4e.npc-sheet .sheet-header .charlevel {
  flex: 0 0 80px;
}
.wfrp4e.npc-sheet .sheet-header .charlevel .level {
  font-size: 28px;
  flex: 0 0 25px;
}
.wfrp4e.npc-sheet .sheet-header .charlevel .level > label {
  margin-right: 5px;
}
.wfrp4e.npc-sheet .sheet-header .charlevel .level > input[type="text"] {
  flex: 1;
}
/* ----------------------------------------- */
/*  Item Sheet
/* ----------------------------------------- */
.wfrp4e.item-sheet .item-details {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: space-between;
  border-bottom: 2px groove #FFF;
}
.wfrp4e.item-sheet .item-details > * {
  flex: 1;
}
.wfrp4e.item-sheet .item-details > li {
  flex: 0 0 30%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 14px;
  text-align: center;
}
.wfrp4e.item-sheet .item-details > li > * {
  flex: 1;
}
.wfrp4e.item-sheet .item-details label {
  line-height: 20px;
}
.wfrp4e.item-sheet .consumable-charges input {
  flex: 0 0 64px;
  margin-left: 5px;
  text-align: center;
}
.wfrp4e.item-sheet .sheet-tabs {
  margin-top: 5px;
  border-bottom: 2px groove #FFF;
  font-size: 14px;
}
.wfrp4e.item-sheet .editor.active {
  display: block;
  min-height: 300px;
}
/* ----------------------------------------- */
/*  Chat Cards
/* ----------------------------------------- */
.wfrp4e.chat-card {
  font-style: normal;
}
.wfrp4e.chat-card .card-header {
  padding: 3px 0;
  border-top: 2px groove #FFF;
  border-bottom: 2px groove #FFF;
}
.wfrp4e.chat-card .card-header img {
  flex: 0 0 36px;
  margin-right: 5px;
}
.wfrp4e.chat-card .card-header h3 {
  flex: 1;
  margin: 0;
  line-height: 36px;
  font-weight: bold;
}
.wfrp4e.chat-card .card-content {
  margin: 5px 0;
}
.wfrp4e.chat-card .card-buttons {
  margin: 5px 0;
}
.wfrp4e.chat-card .card-buttons button {
  margin: 2px 0;
}
.wfrp4e.chat-card .card-buttons .corruption {
  border: 1px solid #991d0a;
  color: #991d0a;
}
.wfrp4e.chat-card .card-footer {
  padding: 3px 0 0;
  border-top: 2px groove #FFF;
}
.wfrp4e.chat-card .card-footer span {
  border-right: 2px groove #FFF;
  padding: 0 5px 0 0;
  font-size: 12px;
}
.wfrp4e.chat-card .card-footer span:last-child {
  border-right: none;
  padding-right: 0;
}
/* ----------------------------------------- */
/*  Roll Cards
/* ----------------------------------------- */
.wfrp4e.chat-card .dice-total {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: space-around;
}
.wfrp4e.chat-card .dice-formula {
  flex: 0 0 100%;
  position: relative;
  font-size: 1.125em;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #444;
  border-radius: 3px;
  line-height: 24px;
  box-shadow: 0 0 2px #EEE inset;
}
.wfrp4e.chat-card .dice-total {
  flex: 0;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #111;
  border-radius: 3px;
  margin-top: 5px;
  padding: 2px 6px;
  font-size: 1.5em;
  font-weight: 700;
  box-shadow: 0 0 2px #FFF inset;
}
.wfrp4e.chat-card .dice-total .dice-reroll {
  color: #777;
  text-decoration: line-through;
}
.wfrp4e.chat-card .dice-reroll {
  color: #777;
  text-decoration: line-through;
}
.message.ic .dice-test {
  font-style: normal;
}
.wfrp4e.chat-card .dice-total > * {
  flex: 1;
}
.wfrp4e.chat-card .dice-part:hover > .dice-tooltip {
  display: block;
}
.wfrp4e.chat-card .dice-part.die {
  font-weight: 700;
  cursor: pointer;
}
.wfrp4e.chat-card .dice-part .dice-tooltip {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 26px;
  padding: 0 2px;
  background: #444;
  font-size: 14px;
  color: #BBB;
}
.wfrp4e.chat-card .dice-tooltip .reroll {
  color: #777;
  text-decoration: line-through;
}
.wfrp4e.chat-card .dice-total .fail {
  color: red;
}
.wfrp4e.chat-card .dice-total .crit {
  color: lightgreen;
}
.wfrp4e.chat-card .dice-flavor {
  text-align: right;
  font-size: 12px;
}