<form>
    <div class="form-group">
        <label>Formula</label>
        <input type="text" name="formula" value="{{formula}}" disabled/>
    </div>
    <div class="form-group">
        <label>Situational Bonus?</label>
        <input type="text" name="bonus" value="" placeholder="e.g. +1d4"/>
    </div>
</form>