<form class="wfrp4e actor-sheet {{cssClass}}" autocomplete="off">

    <!-- BODY -->
    <section class="sheet-body">

        <!-- HEADER -->
        <header class="sheet-header">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="Character Name"/>
            </h1>

            <ul class="details">
                <li class="character-detail">
                    <input name="data.details.species.value" type="text" value="{{data.details.species.value}}" placeholder="Species"/>
                </li>
                <li class="character-detail">
                    <input name="data.details.career.value" type="text" value="{{data.details.career.value}}" placeholder="Career"/>
                </li>
                <li class="character-detail">
                    <input name="data.details.status.value" type="text" value="{{data.details.status.value}}" placeholder="Status"/>
                </li>
            </ul>

        </header>

     
        <!-- ATTRIBUTES -->
         <div class="primary-attributes">
            <div class="attribute">
                    <h3 class="attribute-name">Motivation</h3>
                   <div class="attribute-value">
                       <input name="data.details.motivation.value" type="text" value="{{data.details.motivation.value}}"/>
                   </div>
                </div>
            
            <div class="attribute">
                <h3 class="attribute-name">Fortune</h3>
                <div class="attribute-value">
                    <input name="data.status.fortune.value" type="text" value="{{data.status.fortune.value}}" placeholder="3"/>
                </div>
                <footer class="attribute-footer">
                    <h4 class="footer-label">Fate</h4>
                    <div class="footer-value">
                        <input name="data.status.fate.value" type="text" value="{{data.status.fate.value}}" placeholder="3"/>
                    </div>
                </footer>
            </div>

            <div class="attribute">
                <h3 class="attribute-name">Resolve</h3>
                <div class="attribute-value">
                    <input name="data.status.resolve.value" type="text" value="{{data.status.resolve.value}}" placeholder="3"/>
                </div>
                <footer class="attribute-footer">
                    <h4 class="footer-label">Resilience</h4>
                    <div class="footer-value">
                        <input name="data.status.resilience.value" type="text" value="{{data.status.resilience.value}}" placeholder="3"/>
                    </div>
                </footer>
            </div> 
        </div>
        <div class="primary-attributes"> 
            <div class="attribute">
                <h3 class="attribute-name">Movement</h3>
               <div class="attribute-value">
                   <input name="data.details.move.value" type="text" value="{{data.details.move.value}}" placeholder="4"/>
               </div>
               <footer class="attribute-footer">
                    <div class="footer-value">
                        <input title="Walk" name="data.details.move.walk" type="text" value="{{data.details.move.walk}}" placeholder="8"/>
                        <span class="flex0"> / </span>
                        <input title="Run" name="data.details.move.run" type="text" value="{{data.details.move.run}}" placeholder="16"/>
                    </div>
                </footer>
            </div>
           
            <div class="attribute">
                <h3 class="attribute-name">Wounds</h3>
                <div class="attribute-value">
                    <input name="data.status.wounds.value" type="text" value="{{data.status.wounds.value}}" placeholder="12"/>
                    <span class="flex0"> / </span>
                    <input name="data.status.wounds.max" type="text" value="{{data.status.wounds.max}}" placeholder="12"/>
                </div>
                <footer class="attribute-footer">
                    <h4 class="footer-label">Modifier</h4>
                    <div class="footer-value">
                        <input name="data.status.wounds.mod" type="text" value="{{data.status.wounds.mod}}" placeholder="0"/>
                    </div>
                </footer>
            </div>
 
            <div class="attribute">
                <h3 class="attribute-name">Experience</h3>
                <div class="attribute-value">
                    <input name="data.details.xp.value" type="text" value="{{data.details.xp.value}}" placeholder="0"/>
                </div>
                <footer class="attribute-footer">
                    <h4 class="footer-label">Spent</h4>
                    <div class="footer-value">
                        <input name="data.details.xp.spent" type="text" value="{{data.details.xp.spent}}" placeholder="0"/>
                    </div>
                </footer>
            </div>
        </div>

        <nav class="sheet-tabs tabs" data-tab-container="primary">
            <a class="item" data-tab="inventory">Trappings</a>
            <a class="item" data-tab="spellbook">Occult</a>
            <a class="item" data-tab="injury">Injuries</a>
            <a class="item active" data-tab="biography">Ambitions</a>
        </nav>

        <!-- INVENTORY -->
        <div class="tab inventory" data-tab="inventory">
<!--             <div class="currency">
                <h4 class="currency-name">Currency</h4>
                <ol class="currency-list">
                    {{#each data.currency as |c i|}}
                    <li class="denomination {{i}}">
                        <label>{{i}}:</label>
                        <input type="text" name="data.currency.{{i}}.value" value="{{c.value}}" data-dtype="{{c.type}}"/>
                    </li>
                    {{/each}}
                </ol>
            </div> -->

            <ol class="inventory-list directory-list">
            {{#each actor.inventory as |section sid|}}
                <li class="item inventory-header">
                    <h4 class="item-name">{{section.label}}</h4>
                    <span class="item-quantity">Qty.</span>
                    <span class="item-weight">Enc.</span>
                    {{#if ../owner}}
                    <div class="item-controls">
                        <a class="item-control item-create" title="Create Item" data-item-type="{{sid}}"><i class="fas fa-plus"></i> Add</a>
                    </div>
                    {{/if}}
                </li>
                {{#each section.items as |item iid|}}
                <li class="item" data-item-id="{{item.id}}">
                    <div class="item-name">
                        <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                        <h4 class="rollable">{{item.name}}</h4>
                    </div>
                    <span class="item-quantity">{{item.data.quantity.value}}</span>
                    <span class="item-weight">{{item.totalWeight}}</span>

                    {{#if ../../owner}}
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                    {{/if}}
                </li>
                {{/each}}
            {{/each}}
            </ol>

<!--             <div class="encumbrance">
                <span class="encumbrance-label">{{data.attributes.encumbrance.value}} / {{data.attributes.encumbrance.max}}</span>
                <span class="encumbrance-bar" style="width:{{data.attributes.encumbrance.pct}}%"></span>
            </div> -->
        </div> 

        <!-- SPELLBOOK 
       <div class="tab spellbook" data-tab="spellbook">
            <ol class="inventory-list directory-list">
            {{#each actor.spellbook as |section lvl|}}
                <li class="item inventory-header">
                    <h4 class="item-name">{{section.label}}</h4>

                    {{#unless section.isCantrip}}
                    <span class="spell-slots">
                        <input type="text" name="data.spells.spell{{lvl}}.value" value="{{section.uses}}" placeholder="0"/>
                    </span>
                    <span class="flex0"> / </span>
                    <span class="spell-max">
                        <input type="text" name="data.spells.spell{{lvl}}.max" value="{{section.slots}}" placeholder="0"/>
                    </span>
                    {{else}}
                    <span class="spell-slots">&infin;</span>
                    <span class="flex0"> / </span>
                    <span class="spell-max">&infin;</span>
                    {{/unless}}

                    {{#if ../owner}}
                    <div class="item-controls">
                        <a class="item-control spell-create" title="Create Item" data-spell-level="{{lvl}}"><i class="fas fa-plus"></i> Add</a>
                    </div>
                    {{/if}}
                </li>
                {{#each section.spells as |item i|}}
                <li class="item" data-item-id="{{item.id}}">
                    <div class="item-name">
                        <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                        <h4>{{item.name}}</h4>
                    </div>
                    {{#if ../../owner}}
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                    {{/if}}
                </li>
                {{/each}}
            {{/each}}
            </ol>
       </div> -->

        <!-- FEATS 
        <div class="tab injury" data-tab="injury">
        </div> -->

        <!-- BIOGRAPHY 
        <div class="tab biography active editor" data-tab="biography">
            <div class="editor-content" data-edit="data.details.biography.value">
               {{{data.details.biography.value}}}
            </div>
            <a class="editor-edit"><i class="fas fa-edit"></i></a>
        </div> -->
    </section> 
 
    <!-- SIDEBAR -->
    <section class="sheet-sidebar">
        <img class="sheet-profile" src="{{actor.img}}" title="{{actor.name}}" height="64" width="64" data-edit="img"/>

        <nav class="sheet-tabs tabs" data-tab-container="sidebar">
            <a class="item active" data-tab="attributes">Attributes</a>
            <a class="item" data-tab="skills">Skills</a>
            <a class="item" data-tab="talents">Talents</a>
        </nav>

        <!-- ABILITY SCORES -->
        <div class="tab attributes active" data-tab="attributes">
            <ol class="attributes-list directory-list">
            {{#each data.attributes as |attribute id|}}
                <li class="attribute" data-attribute="{{id}}">
                    <h3 class="attribute-name rollable" title="Attribute Name">{{attribute.label}}</h3>
                    <span class="attribute-total" title="Attribute Total">{{numberFormat attribute.total decimals=0 sign=false}}</span>
                    <span class="attribute-bonus" title="Attribute Bonus">{{numberFormat attribute.bonus decimals=0 sign=true}}</span>
                </li>
            {{/each}}
            </ol>

            <!-- SPEND XP -->
            <header class="modify-header">
                <h3 class="modify-attributes">Modify Attributes</h3>
            </header>

        </div> 

        <!-- SKILLS -->
        <div class="tab skills active" data-tab="skills">
            <ol class="directory-list">
            {{#each data.skills as |skill s|}}
                
                    <li class="{{skill.style}}" data-skill="{{s}}">
                        <h3 class="skill-name rollable" title="Skill Name">{{skill.label}}</h3>
                        <!-- <span class="skill-attribute" title="Attribute">({{skill.ability}})</span> -->
                        <span class="skill-advances" title="Advances">
                            {{skill.advances}}
                        </span>
                        <span class="skill-total" title="Total">{{skill.total}}</span>
                    </li>
                
            {{/each}}
            {{#each actor.skilllist as |section type|}}
                {{#each section.skills as |item i|}}    
                    <li class="item trained" data-skill="{{item.id}}" data-item-id="{{item.id}}">
                        <h3 class="advskill-name rollable" title="Skill Name">{{item.name}}</h3>
                        <!-- <span class="skill-attribute" title="Attribute">({{skill.ability}})</span> -->
                        <span class="skill-advances" title="Advances">{{item.data.advances.value}}</span>
                        <span class="skill-total" title="Total">{{item.data.total.value}}</span>
                    </li>
                {{/each}}
            {{/each}}

            </ol>

            <!-- SPEND XP -->
            <header class="modify-header">
                <h3 class="modify-skills">Modify Skills</h3>
            </header>

        </div> 

        <!-- TALENTS -->
        <div class="tab talents active" data-tab="talents"> 

            <ol class="inventory-list directory-list">

                {{#each actor.talentlist as |section career|}}
                    <li class="item inventory-header spellbook-header">
                        <div class="item-name flexrow">
                            <h3>{{section.label}}</h3>
                        </div>    
                        
                        <div class="talent-advances">Adv / Max</div>
                        
                        <!-- {{#if ../owner}} -->
                        <div class="item-controls">
                            <a class="item-control item-create" title="Create Item" data-item-type="talent"
                               data-spell-level="{{career}}"><i class="fas fa-plus"></i> Add</a>
                        </div>
                        <!-- {{/if}} -->
                    </li>


                    {{#each section.talents as |item i|}}
                    <li class="item" data-item-id="{{item.id}}">
                        <div class="item-name">
                            <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                            <h4 class="rollable">{{item.name}}</h4>
                        </div>
    
                        <!-- <div class="talent-max">{{item.data.talent.max}}</div> -->
                        <div class="talent-advances">{{item.data.advances.value}} / {{item.data.max.total}}</div>
                        <!-- <span class="spell-slots">{{item.data.advances.value}}</span>
                        <span class="flex0"> / </span>
                        <span class="spell-max">{{item.data.max.total}}</span> -->
    
                        <!-- {{#if ../../owner}} -->
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                        <!-- {{/if}} -->
                    </li>
                    {{/each}}
                {{/each}}
            </ol>         
        </div> 
    </section>
</form>
