<form class="wfrp4e actor-sheet {{cssClass}}" autocomplete="off">

    <div class="tab attributes active" data-tab="attributes">
            <li class="heading">
                <h3 class="attribute-name">Attribute</h3>
                <span class="attribute-stat">Starting</span>
                <span class="attribute-tal">Talents</span>
                <span class="attribute-adv">Advances</span>
                <span class="attribute-mod">Modifier</span>
                <span class="attribute-total">Total</span>
                <span class="attribute-bonus">Bonus</span>
            </li>      
        <ol class="attributes-list directory-list">
            {{#each data.attributes as |attribute id|}}
                <li class="attribute" data-ability="{{id}}">
                    <input type="hidden" name="data.attributes.{{id}}.career" value="{{attribute.career}}"/>
                    <a class="attribute-career" title="Career">{{{attribute.icon}}}</a>
                    <!-- <a class="attribute-career" title="Not a career attribute"><i class="far fa-circle"></i></a> -->
                    <h3 class="attribute-name" title="Attribute Name">{{attribute.label}}</h3>
                    <span class="attribute-score" title="Starting Attribute Score">
                        <input name="data.attributes.{{id}}.value" type="text" value="{{attribute.value}}" placeholder="0"/>
                    </span>
                    <span class="attribute-talents" title="Attribute Talents">
                        <input name="data.attributes.{{id}}.talents" type="text" value="{{attribute.talents}}" placeholder="0"/>
                    </span>
                    <span class="attribute-advances" title="Attribute Advances">
                        <input name="data.attributes.{{id}}.advances" type="text" value="{{attribute.advances}}" placeholder="0"/>
                    </span>
                    <span class="attribute-modifier" title="Attribute Modifier">
                        <input name="data.attributes.{{id}}.modifier" type="text" value="{{attribute.modifier}}" placeholder="0"/>
                    </span>
                    <span class="attribute-total" title="Attribute Total">
                            {{numberFormat attribute.total decimals=0 sign=false}}
                        </span>
                    <span class="attribute-bonus" title="Attribute Bonus">{{numberFormat attribute.bonus decimals=0 sign=true}}</span>
                </li>
            {{/each}}
        </ol>
    </div> 
</form>
    