<form class="wfrp4e actor-sheet {{cssClass}}" autocomplete="off">
        
    <!-- Basic SKILLS -->
    <div class="skills active modify-left" data-tab="skills">
        <li class="heading">
            <h3 class="skill-name">Basic</h3>
            <span class="skill-attribute">Attribute</span>
            <span class="skill-advances">Advances</span>
            <span class="skill-modifier">Modifier</span>
            <span class="skill-total">Total</span>
        </li>
        <ol class="modifySkills-list">
            {{#each data.data.skills as |skill s|}}
                {{#unless skill.advanced}}
                    {{#unless skill.combat}}
                        <li class="{{skill.style}}" data-skill="{{s}}">
                            <input type="hidden" name="data.skills.{{s}}.career" value="{{skill.career}}"/>
                            <a class="skill-career" title="{{skill.hover}}">{{{skill.icon}}}</a>
                            <h3 class="skill-name" title="Skill Name">{{skill.label}}</h3>
                            <span class="skill-attribute" title="Attribute">({{skill.ability}})</span>
                            <span class="skill-advances" title="Advances">
                                <input name="data.skills.{{s}}.advances" type="text" value="{{skill.advances}}" placeholder="0"/>
                            </span>
                            <span class="skill-modifier" title="Skill Modifier">
                                <input name="data.skills.{{s}}.modifier" type="text" value="{{skill.modifier}}" placeholder="0"/>
                            </span>
                            <span class="skill-total" title="Total">{{skill.total}}</span>
                        </li>
                    {{/unless}}
                {{/unless}}
            {{/each}}
        </ol>
    </div>

    <!-- Advanced SKILLS -->
    <div class="advanced active modify-right" data-tab="skills">
        <li class="heading">
            <h3 class="skill-name">Melee</h3>
            <span class="skill-attribute">Attribute</span>
            <span class="skill-advances">Advances</span>
            <span class="skill-modifier">Modifier</span>
            <span class="skill-total">Total</span>
            <!-- <div class="skill-add">
                <a class="skill-control skill-create" title="Create Advanced Skill" data-item-type="{{sid}}"><i class="fas fa-plus"></i> Add</a>
            </div> -->
        </li>

            <ol class="modifySkills-list">
                {{#each data.data.skills as |skill s|}}
                    
                    {{#if skill.combat}}
                        <li class="skill {{skill.style}}" data-skill="{{s}}">
                            <input type="hidden" name="data.skills.{{s}}.career" value="{{skill.career}}"/>
                            <a class="skill-career" title="{{skill.hover}}">{{{skill.icon}}}</a>
                            <h3 class="skill-name" title="Skill Name">{{skill.label}}</h3>
                            <span class="skill-attribute" title="Attribute">({{skill.ability}})</span>
                            <span class="skill-advances" title="Advances">
                                <input name="data.skills.{{s}}.advances" type="text" value="{{skill.advances}}" placeholder="0"/>
                            </span>
                            <span class="skill-modifier" title="Skill Modifier">
                                <input name="data.skills.{{s}}.modifier" type="text" value="{{skill.modifier}}" placeholder="0"/>
                            </span>
                            <span class="skill-total" title="Total">{{skill.total}}</span>
                        </li>
                    {{/if}}
                    
                {{/each}}
            </ol>

            <li class="heading">
                <h3 class="skill-name">Advanced</h3>
                <span class="skill-attribute">Attribute</span>
                <span class="skill-advances">Advances</span>
                <span class="skill-modifier">Modifier</span>
                <span class="skill-advtotal">Total</span>
                <span class="skill-edit">Edit</span>
<!--                 <div class="skill-add">
                    <a class="skill-control skill-create" title="Create Advanced Skill" data-item-type="{{sid}}"><i class="fas fa-plus"></i> Add</a>
                </div> -->
<!--                 <div class="item-controls">
                    <a class="item-control item-create" title="Create Item" data-item-type="skill"
                    data-spell-level="advanced">Edit</a>
                </div> -->
            </li>

            <ol class="advanced-list">

<!--                 {{#each data.skills as |skill s|}}
                    {{#if skill.advanced}}
                        {{#unless skill.combat}}        
                            <li class="skill {{skill.style}}" data-skill="{{s}}">
                                <input type="hidden" name="data.skills.{{s}}.career" value="{{skill.career}}"/>
                                <a class="skill-career" title="{{skill.hover}}">{{{skill.icon}}}</a>
                                <h3 class="skill-name" title="Skill Name">
                                    <input name="data.skills.{{s}}.label" type="text" value="{{skill.label}}" placeholder="Advanced Skill"/>
                                </h3>

                                <select class="skill-select" name="skill-attribute">
                                    <option value="ws">ws</option>
                                    {{#each data.attributes as |attribute id|}}
                                    <option value="{{s}}">{{attribute.label}}</option>
                                    {{/each}}
                                </select>
                                
                                <span class="skill-advances" title="Advances">
                                    <input name="data.skills.{{s}}.advances" type="text" value="{{skill.advances}}" placeholder="0"/>
                                </span>
                                <span class="skill-modifier" title="Skill Modifier">
                                    <input name="data.skills.{{s}}.modifier" type="text" value="{{skill.modifier}}" placeholder="0"/>
                                </span> -->
                                <!-- <span class="skill-total" title="Total">{{skill.total}}</span> -->
                                <!--<div class="skill-controls">
                                    <a class="advanced-control advanced-delete" title="Delete Skill"><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                        {{/unless}}
                    {{/if}}
                {{/each}} -->


                {{#each skilllist as |section type|}}
                    {{#each section.skills as |item i|}}                        
                        <li class="item" data-item-id="{{item.id}}">
                            <span class="skill-career" title="Career">{{{item.data.icon.value}}}</span>
                            
                            <div class="skill-name">
                                <!-- <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/> -->
                                <h4 class="rollable">{{item.name}}</h4>
                            </div>

                            <span class="skill-attribute" title="Attribute">({{item.data.attribute.value}})</span>
                            <span class="skill-advances" title="Advances">{{item.data.advances.value}}</span>
                            <span class="skill-modifier" title="Skill Modifier">{{item.data.modifier.value}}</span>
                            <span class="skill-total" title="Total">{{item.data.total.value}}</span>
                            
                            <!-- {{#if ../../owner}} -->
                            <div class="item-controls">
                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                            <!-- {{/if}} -->
                        </li>
                    {{/each}}
                {{/each}}

            </ol>

            <header class="modify-header">
                <a class="item-control item-create" title="Create Item" data-item-type="skill"
                    data-spell-level="advanced">Add Advanced Skill</a>
            </header>

        </div> 
    </form>
        